#btnUP {
    
    text-decoration: none;
    background: #8e43e4;
    bottom: 30px;
    right: 30px;
    color: #fff;
    text-align: center;
    cursor: pointer;
    padding: 12px;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    position: fixed;
    border: 0;
    border-radius: 65px;
    font-family: sans-serif;
    opacity: .6;
}
#btnUP i{
    font-size:21px;
}

    #btnUP:hover {
        opacity: 1;
    }